body {
    background-color: rgb(241, 244, 255);
}

.loader {
    border-top-color: #3490dc;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }