html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes colorChange {
    0% {
      color: #f97316;
    }
    25% {
      color: #f43f5e;
    }
    50% {
      color: #3b82f6;
    }
    75% {
      color: #10b981;
    }
    100% {
      color: #dde71b;
    }
  }

  .text-color-change {
    animation: colorChange 5s infinite;
  }


.loader {
  border-top-color: #3490dc;
  animation: spin 1s infinite linear;
}
